<div id="main">

    <div class="myrow">
      <span class="title">序言</span>
    </div>

    <div class="myrow">
      <div id="pre_row" class="invis">
        <span class="text-content">
          What is the nature of time？Will it ever come to an end？Can we go back in time？</br>
          Some day these answers may seem as obvious to us as the Earth orbiting the sun,</br>
          or perhaps as ridiculous as a tower of tortoises.Only time whatever that may be,will tell.</br>
          -- Stephen Hawking</br>
        </span>
        <div style="height: 40px"></div>
        <span class="text-content">
          引用了霍金的一段话作为开头,同时这段话也解释了我为什么要做这个时间流的原因。
          自从你表明了态度之后,我挣扎了很长时间。</br>
          如果理性一点应该放弃跟你的联系,但是自己又没办法做到。</br>
          于是从此我对你的喜欢开始变得非常矛盾,我开始无法解释我的行为,也想不出最终还是离开之后的那天到来后会如何。</br>
          但我清楚的知道,我所拥有的与你在一起的时光是值得我去做出所有努力的。时间紧迫,网页还是个半成品。</br>
          但就如上文所说,它会随着时间变得更加完善,仅管目前我无法知晓所有的答案,</br>
          但和你的过去与时日不多的当下仍然是我不可或缺的瑰宝,便在此留下痕迹,然后时间会告诉我们一切。</br>
        </span>
      </div>
    </div>

    <div class="myrow">
      <span class="title">从屠城开始</span>
    </div>

    <div class="myrow">
      <img src="tucheng.png"/>
    </div>

    <div class="myrow">
      <div id="tucheng_row" class="invis">
        <span class="text-content">
          这一段记忆充满欢乐和你可爱的尴尬。刚吃完龙虾等着我门迟到,毅然决然用90J小号去屠城,老盯着我眼镜上的头发。</br>
          可能从这一天我看着变成金头发的你开始,就注定想和你愉快的玩耍了。
          </span>
      </div>
    </div>

    <div class="myrow">
      <span class="title">元宵。。。</span>
    </div>

    <div class="myrow">
      <img id="futejia" src="yuanxiao.png"/>
    </div>

    <div class="myrow">
      <div id="yuanxiao_row" class="invis">
          <span class="text-content">
            这个时候已经是拼命想约你出来玩了,终于让我得逞元宵约到了。</br>
            只不够后面的事。。。。当时都觉得: 完了!这下形象全没了!怎么办怎么办怎么办!!!  </br>
            不过最重要的事, 就是牵到你的手了,无比安心。</br>
            </span>
      </div>
    </div>

    <div class="myrow">
      <div style="height: 600px">
        <button id = 'heart' class="hearts hide" ></button>
        <div id = 'cat' class="cats hide"></div>
        <div id = 'miao' class="miaos hide"></div>
        <button id = 'button1' class="button1 hvr-radial-out" style="background-color: #fcd5ce;">click</button>
      </div>
    </div>

    <div class="myrow">
      <span class="title">情人节巧克力</span>
    </div>

    <div class="myrow">
      <div id="val_row"  class="invis col-md-12" style="height: 400px" >
            <span class="text-content col-md-4 col-md-offset-1">
              </br></br></br></br></br>
              这一天你送了我巧克力。。。人生第一次</br>
              。。。我当时还误会了什么,</br>
              然后就开始疯狂追你。。。,不过晚上还亲到你了:)
             </span>
            <img class="img_rote col-md-6 col-sm-6" style="-webkit-transform: rotate(90deg);"
                 src="dongjinta.jpg"/>
      </div>
    </div>

  <div class="myrow">
    <span class="title">The Frist Date</span>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 100px">
    <div id="firstdate_row" class="invis">
          <span class="text-content col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
            套路深啊。。。老板。。。(那一瞬间入坑了)
            </span>
    </div>
  </div>

  <div style="text-align: center;width: 100%">
    <video  id="lalaland" style="margin-top: 150px" width="700px" src="lalaland.mp4"></video>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 550px;margin-top: 200px">
    <div id="motianlun_row" style="margin-top: 100px" class="invis">
      <img class=" col-sm-offset-1 col-md-offset-1 img_rote col-md-6 col-sm-6" style="-webkit-transform: rotate(90deg);"
           src="motianlun.jpg"/>
       <span class="text-content col-xs-6 col-sm-6 col-md-6">
           AHhhhhhhhhhhhhhhhhhhhhhhhh!!!!!! </br>恐高症的梦魇~~~
       </span>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <span class="title">童话世界</span>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" >
    <div id="disneyred_row" style="margin-top: 100px" class="invis">
      <img class="col-xs-4 col-sm-4 col-md-4"
           src="disneyred.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="disneyeat.jpg"/>
      <img class="col-xs-3 col-sm-3 col-md-3"
           src="disneyus.jpg"/>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 100px">
    <div id="muma_row" class="invis">
          <span class="text-content col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            一个骑着白马的青涩公主露出了灿烂的笑容,可惜的是她不知道怎么收回去。
          </span>
    </div>
  </div>

  <div style="text-align: center;width: 100%" >
    <video  id="muma" style="margin-top: 150px;" width="250px" src="muma.mov"></video>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <span class="title">阿西达卡的移动城堡</span>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 400px">
    <div id="longmao_row" style="margin-top: 100px" class="invis">
            <span class="text-content col-xs-6 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1">
              某人早上赖床当萌货,当我看到龙猫时,它似乎在对我说: 迟到了吧,还不谢罪
             </span>
      <img class="col-xs-6 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="jipulimen.jpg"/>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 400px">
    <div id="icecream_row" style="margin-top: 100px" class="invis">
      <img class=" col-sm-offset-1 col-md-offset-1 col-xs-6 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="jipulilxx.jpg"/>
      <span class="text-content col-xs-6 col-sm-6 col-md-6">
           这是我的幽灵公主,她似乎很兴奋的再吃冰淇凌。尽管只是如此她还是显的如此特立独行。
       </span>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <span class="title">充满足迹的周末</span>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 700px">
    <div id="skytree_row" style="margin-top: 100px" class="invis">
            <span class="text-content col-xs-4 col-sm-4 col-md-4">
              スカイツリーやあ</br>あああああ
             </span>
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="skytreelxx.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4"
           src="skytree.jpg"/>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 700px">
    <div id="liancang_row" style="margin-top: 100px" class="invis">
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="liancanglxx.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="liancangsee.jpg"/>
      <span class="text-content col-xs-4 col-sm-4 col-md-4">
           当时看着她,突然感觉自己终于不再孤独。</br>这种感觉来很轻,以至于当我注意到它时,却是这么的浓烈。
       </span>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <span class="title">A brief history about Happiness</span>
  </div>


  <div class="myrow col-xs-12 col-sm-12 col-md-12" >
    <div id="suizuguan_row" style="margin-top: 100px" class="invis">
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="suizuguan.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4"
           src="sharl.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="tree.jpg"/>
    </div>
  </div>

  <div style="text-align: center;width: 100%" >
    <video  id="haishi" style="margin-top: 400px;" width="250px" src="haishi.mp4"></video>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12" style="height: 700px" >
    <div id="jnr_row" style="margin-top: 100px" class="invis">
      <img class="col-xs-4 col-sm-4 col-md-4"
           src="jinianri.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4"
           src="jnrcai.jpg"/>
      <img class="col-xs-4 col-sm-4 col-md-4" style="-webkit-transform: rotate(90deg);"
           src="anglelxx.jpg"/>
    </div>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <span class="bad_title">然后...</span>
  </div>

  <div style="text-align: center;width: 100%" >
    <video  id="buyaopaiwo" style="margin-top: 400px;" width="250px" src="buyaopaiwo.mov"></video>
  </div>

  <div class="myrow col-xs-12 col-sm-12 col-md-12">
    <div id="coldplay_row" style="margin-top: 100px" class="invis">
      <img class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" src="coldplay.jpg"/>
    </div>
  </div>

  <div style="text-align: center;width: 100%">
    <video  id="coldplay" style="margin-top: 400px" width="700px" src="coldplayvod.mp4"></video>
  </div>

  <div class="myrow" style="margin-top: 300px">
    <div>
      <span class="furture_title"><span class="love">L</span>ife is	w<span class="love">o</span>nderful
        </br>by sounds your <span class="love">v</span>oic<span class="love">e</span>
        </br><span class="love">5.20</span></span>
    </div>
  </div>

  <div class="myrow" ></div>


</div>







